### Branching using Conditional Statements and Loops in Python

* Branching with If, else, elif
* Nasted conditions and if expressions
* Iteration with While loops
* Iterating over conditions with for loops
* Nested loops, breake and condinue statement

In [4]:
a_number = 33

In [5]:
if a_number % 2 == 0:
    print('We are in for loop ')
    print( 'The given number {} is even.'.format(a_number) )

In [6]:
new_number = 343

In [7]:
if new_number % 2 == 0:
    print('This Number {} is Even. '.format(new_number))
else:
    print('The given number {} is Odd.'.format(new_number))

The given number 343 is Odd.

In [16]:
Today = 'Wednesday'

In [17]:
if Today == 'Monday':
    print('Today is first day of week.')
elif Today == 'Tuesday':
    print('Today is the Second day of the week.')
elif Today == 'Wednesday':
    print('Today is the Third day of the week. ')
elif Today == 'Wednesday':
    print('Today is the Third day of the week. ')
elif Today == 'Thursday':
    print('Today is the Fourth day of the week. ')
elif Today == 'Friday':
    print('Today is the Last day of the week. ')
else:
    print('Today is not a day of Work')

Today is the Third day of the week.

In [27]:
a_number = 53

In [25]:
if a_number % 2==0:
    print('{} is divisible by 2 .'.format(a_number))
if a_number % 3==0:
    print('{} is divisible by 3 .'.format(a_number))
if a_number % 5==0:
    print('{} is divisible by 5 .'.format(a_number))

50 is divisible by 2 .
50 is divisible by 5 .

In [28]:
if a_number % 2==0:
    print('{} is divisible by 2 .'.format(a_number))
elif a_number % 3==0:
    print('{} is divisible by 3 .'.format(a_number))
elif a_number % 5==0:
    print('{} is divisible by 5 .'.format(a_number))
else:
    print('All Check Failed!')

All Check Failed!

In [37]:
a_number = 12

In [38]:
if a_number %2 == 0:
    print('{} is even'.format(a_number))
    if a_number % 3 == 0:
        
        print('{} is also divisible by 3.'.format(a_number))
    else:
        print('{} is not divisible by 3.'.format(a_number))
else:
    print('{} is odd.'.format(a_number))
    if a_number % 5 == 0:
        print('{} is also divisible by 5.'.format(a_number))
    else:
        print('{} is not divisible by 5.'.format(a_number))

12 is even
12 is also divisible by 3.

In [50]:
number = 4

In [52]:
if number % 2 == 0:
    pass
if number % 3 == 0:
    print('{} is Divisible by 3.'.format(number))
else:
    print ('{} is out of my scope'.format(number))

4 is out of my scope

Factorial of 100 using the while loop.

In [58]:
result = 1
i = 1

while i <= 100:
    result = result*i
    i = i+1

print('The factorial of 100 is {}.'.format(result))

The factorial of 100 is 93326215443944152681699238856266700490715968264381621468592963895217599993229915608941463976156518286253697920827223758251185210916864000000000000000000000000.

In [ ]:
reult = 1
i = 1

while i <= 100:
    reult = reult*i

    i = i+1
print(reult)

In [74]:
i = 1
reult = 1


while i <= 200:
    reult = reult*i
    i = i+1
print(reult)

788657867364790503552363213932185062295135977687173263294742533244359449963403342920304284011984623904177212138919638830257642790242637105061926624952829931113462857270763317237396988943922445621451664240254033291864131227428294853277524242407573903240321257405579568660226031904170324062351700858796178922222789623703897374720000000000000000000000000000000000000000000000000

Breake and Continue

In [76]:
i = 1
result = 1

while i <= 100:
    result= result*i
    if i == 6:
        print('The number 6 is reached and while loop execution is stopping')
        break
    i = i +1
print('i : ', i)
print('Result: ', result)

The number 6 is reached and while loop execution is stopping
i :  6
Result:  720

In [84]:
result = 1
i = 1

while i < 7:
    i = i+1
    if i % 2 == 0:
        print(' Skipping {}.'.format(i))
        continue
    print('Multiplying with {}.'.format(i))
    
    result = result* i
print('i:', i)
print('Result:', result)

i: 7
Result: 5040

In [83]:
1*3*5*7

105

In [85]:
1*2*3*4*5*6*7

5040

In [128]:
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [129]:
for day in days:
    print(day)

Monday
Tuesday
Wednesday
Thursday
Friday

In [130]:
days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [131]:
for char in 'Monday':
    print(char)

M
o
n
d
a
y

In [134]:
for fruit in ('Apple', 'Banana', 'Cherry'):
    print('The fruit is :',fruit)

The fruit is : Apple
The fruit is : Banana
The fruit is : Cherry

In [141]:
person = {
        'Name': 'Asad',
    'Age' : 28,
    'Sex' :'Male',
    'Work' : 'Res',
    'Email': 'Asad@email.com'
}

In [142]:
person

{'Name': 'Asad',
 'Age': 28,
 'Sex': 'Male',
 'Work': 'Res',
 'Email': 'Asad@email.com'}

In [144]:
for value in person.values():
    print(value)

Asad
28
Male
Res
Asad@email.com

In [146]:
for key_value_pair in person.items():
    print(key_value_pair)

('Name', 'Asad')
('Age', 28)
('Sex', 'Male')
('Work', 'Res')
('Email', 'Asad@email.com')

In [150]:
for i in range(16,21):
    print(i)

16
17
18
19
20

In [151]:
for i in range(4,21,4):
    print(i)

4
8
12
16
20

In [153]:
weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [155]:
weekdays

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

In [160]:
for day in weekdays:
    print('Today is {}.'.format(day))
    if day== 'Wednesday':
        print('It a Last day for work')
        break

Today is Monday.
Today is Tuesday.
Today is Wednesday.
It a Last day for work

In [166]:
for day in weekdays:
    if (day== 'Wednesday'):
        print('It a Last day for work')
        continue
    print('Today is {}.'.format(day))

Today is Monday.
Today is Tuesday.
It a Last day for work
Today is Thursday.
Today is Friday.

### Creating and Using Functions

In [167]:
def say_Hello():
    print('Hello!')
    print('How are you')

In [169]:
say_Hello()

Hello!
How are you

In [170]:
def get_even_numbers(input_numbers):
    result_list = []
    for number in input_numbers:
        if number % 2 ==0:
            result_list.append(number)
    return result_list

In [173]:
Even_list = get_even_numbers([7, 8, 9, 15, 16, 24, 28])
Even_list

[8, 16, 24, 28]

In [174]:
get_even_numbers([7, 8, 9, 15, 16, 24, 28])

[8, 16, 24, 28]

In [175]:
def loan_emi(amount, duration, rate, down_amount= 0):
    loan_amount = amount- down_amount
    emi = loan_amount* rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    return emi

In [180]:
import math

math.ceil(loan_emi(amount = 1229888, duration= 8*12, rate = 0.1/12, down_amount=3e5))

14111