In [2]:
today = 'Saturday'
print('Today is ', today)

Today is  Saturday

In [3]:
def say_Hello():
    print('Hello there!')
    print('How are you ?')

In [4]:
say_Hello()

Hello there!
How are you ?

In [11]:
def Hello():
    print('ASAD AYUB')
    print("It's me")

In [12]:
Hello()

ASAD AYUB
It's me

In [28]:
def even_filter(list_of_Number):
    result_list = []
    for number in list_of_Number:
        if number % 2 == 0:
            result_list.append(number)
    return result_list
list_of_Number = even_filter([ 2, 3, 5 , 6, 7, 8, 20])
print(list_of_Number)

[2, 6, 8, 20]

In [33]:
def loan_emi(amount):
    emi = amount/12
    print('The EMI is', emi)
amount = loan_emi(1260000)

The EMI is 105000.0

In [34]:
def loan_emi(amount, duration):
    emi = amount/duration
    print('The EmI is', emi)
loan_emi(1260000,12)

The EmI is 105000.0

In [39]:
def loan_emi(amount,duration,plan):  
    emi = (amount/(duration*plan))
    return emi
Plan_1 = loan_emi(1260000,12,10)
Plan_2 = loan_emi(1260000,12,8)
print('The Plant 1 have EMI ',Plan_1 )
print('The Plant 2 have EMI ',Plan_2 )

The Plant 1 have EMI  10500.0
The Plant 2 have EMI  13125.0

In [42]:
def loan_emi(amount,duration,rate,down_payment=0):
    loan_amount = amount-down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
    return emi 
Plant_1 = loan_emi(amount = 1260000, duration = 8*12, rate = 0.1/12, down_payment = 3e5)
Plant_2 = loan_emi(amount = 1260000, duration = 10*12, rate = 0.08/12)

print(Plant_1)
print(Plant_2)

14567.19753389219
15287.276888775077

In [15]:
import math

In [1]:
def say_Hello():
    print('Hello!')
    print('How are you?')

In [2]:
say_Hello()

Hello!
How are you?

In [4]:
def filter_function(number_list):
    result_list = []
    for number in number_list:
        if number % 2 == 0:
            result_list.append(number)
    return result_list

In [8]:
number_list = filter_function([1, 3, 4, 5, 6, 7, 8, 20,])
print(number_list)

[4, 6, 8, 20]

### House Emi Example

In [30]:
cost_of_House = 1260000
down_payment = 300000
duration_1 = 8*12 
rate_1 = 0.1/12
duration_2 = 10*12 
rate_2 = 0.08/12
def emi(amount,duration,rate, down_payment = 0):
    loan_amount = amount - down_payment
    emi = loan_amount * rate * ((1+rate)**duration) / (((1+rate)**duration)-1)
  
    return emi

In [31]:
EMI_1 = emi (amount =cost_of_House, duration = duration_1, rate = rate_1, down_payment = down_payment)
EMI_2 = emi (amount =cost_of_House, duration = duration_2, rate = rate_2)


print(EMI_1)
print(EMI_2)
if EMI_1 < EMI_2:
    print('Option 1 has the Lower EMI: ', EMI_1)
else:
    print('Option 2 has the Lower EMI: ', EMI_2)

14567.19753389219
15287.276888775077
Option 1 has the Lower EMI:  14567.19753389219

In [35]:
house_cost = 800000
down_payment = 200000
duration_1 = 72
rate_house = 0.07/12
car_cost = 60000
duration = 12
rate = 0.12/12
house_emi = emi(amount= house_cost, duration = duration_1, rate = rate_house, down_payment = down_payment  )
print('House emi ', house_emi)
car_emi = emi(amount= car_cost, duration = duration, rate = rate )
print('Car emi ' , car_emi)
Total_amount= house_emi + car_emi
print('Total Amount have to pay is ', Total_amount)

House emi  10229.403883181738
Car emi  5330.9273207005
Total Amount have to pay is  15560.331203882237

### Data Analysis for Vacation Planing

In [38]:
City_1 = 'Paris'
Return_Flight_City_1 = 200
Hotel_per_day_City_1 = 20
Weekely_car_rental_City_1 = 200
City_2 = 'London'
Return_Flight_City_2 = 250
Hotel_per_day_City_2 = 30
Weekely_car_rental_City_2 = 120
City_3 = 'Dubai'
Return_Flight_City_3 = 370
Hotel_per_day_City_3 = 15
Weekely_car_rental_City_3 = 80
City_4 = 'Lahore'
Return_Flight_City_4 = 450
Hotel_per_day_City_4 = 10
Weekely_car_rental_City_4 = 70

In [40]:
def total_expenses(Return_Flight, Hotel_per_day, Weekely_car_rental_City, duration):
    total_expenses = Return_Flight + Weekely_car_rental_City + ((Hotel_per_day)*(duration))
    return total_expenses

One Week Trip to Paris Cost is  540

In [41]:

One_week_trip_to_Paris = total_expenses(Return_Flight = Return_Flight_City_1 , Hotel_per_day = Hotel_per_day_City_1 , Weekely_car_rental_City = Weekely_car_rental_City_1, duration = 7 )
print('One Week Trip to Paris Cost is ', One_week_trip_to_Paris)

One_week_trip_to_London = total_expenses(Return_Flight = Return_Flight_City_2 , Hotel_per_day = Hotel_per_day_City_2 , Weekely_car_rental_City = Weekely_car_rental_City_2, duration = 7 )
print('One Week Trip to London Cost is ', One_week_trip_to_London)


One_week_trip_to_Dubai = total_expenses(Return_Flight = Return_Flight_City_3 , Hotel_per_day = Hotel_per_day_City_3 , Weekely_car_rental_City = Weekely_car_rental_City_3, duration = 7 )
print('One Week Trip to Dubai Cost is ', One_week_trip_to_Dubai)

One_week_trip_to_Lahore = total_expenses(Return_Flight = Return_Flight_City_4 , Hotel_per_day = Hotel_per_day_City_4 , Weekely_car_rental_City = Weekely_car_rental_City_4, duration = 7 )
print('One Week Trip to Lahore Cost is ', One_week_trip_to_Lahore)

One Week Trip to Paris Cost is  540
One Week Trip to London Cost is  580
One Week Trip to Dubai Cost is  555
One Week Trip to Lahore Cost is  590